@import "../../root/scss/_sass";

.services {
	background: #151515;
	@include adaptiveValue("padding-top", 150, 50);
	@include adaptiveValue("padding-bottom", 150, 50);
	&__header {
		color: #fff;
		font-family: $font-family;
		@include adaptiveValue("font-size", 128, 42);
		font-size: 8.125rem;
		font-style: normal;
		font-weight: 500;
		line-height: 110%;
		letter-spacing: -0.1625rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		@include adaptiveValue("margin-bottom", 80, 30);

		img {
			width: 1.25rem;
			height: 1.25rem;
			margin-bottom: 1.56rem;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptiveValue("gap", 4, 20);
		gap: 0.23rem;

		&:not(:hover) {
			transition: all 0.5s ease-in-out;
			.services__item {
				opacity: 1;
			}
		}
	}
}

@media (max-width: $tablet) {
	.services {
		&__wrapper {
			grid-template-columns: 1fr;
		}
	}
}
