@import "../../root/scss/_sass";

.services {
	background: #151515;
	padding-top: 9.42rem;
	padding-bottom: 9.41rem;
	&__header {
		color: #fff;
		font-family: $font-family;
		font-size: 8.125rem;
		font-style: normal;
		font-weight: 500;
		line-height: 110%;
		letter-spacing: -0.1625rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 5rem;

		img {
			width: 1.25rem;
			height: 1.25rem;
			margin-bottom: 1.56rem;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.23rem;

		&:not(:hover) {
			transition: all 0.5s ease-in-out;
			.services__item {
				opacity: 1;
			}
		}
	}
}
