@import "../../root/scss/_sass";

.portfolio {
	&__item {
		position: relative;
		border-radius: 2.29313rem;
		border: 2px solid #434343;
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		cursor: pointer;
		img {
			max-height: 27.51725rem;
			margin-bottom: -4px;
			transition: all 0.5s ease-in-out;
			opacity: 1;
		}

		&:hover {
			border-radius: 2.29313rem;
			border: 2px solid #fff;
			img {
				max-height: 36.68963rem;
				opacity: 0.2;
			}
			.portfolio {
				&__title {
					bottom: 4.95rem;
				}
				&__label {
					color: #151515;
					border-radius: 0rem 0rem 1.14656rem 1.14656rem;
					background: #fff;
				}
				&__meta {
					top: 3.44rem;
				}
			}
		}
	}

	&__title {
		color: #fff;
		leading-trim: both;
		text-edge: cap;
		font-family: $font-family;
		font-size: 5.50344rem;
		font-style: normal;
		font-weight: 600;
		line-height: 110%; /* 6.05381rem */
		letter-spacing: -0.11006rem;
		position: absolute;
		z-index: 2;
		bottom: -6rem;
		left: 3.44rem;
		transition: all 0.5s ease-in-out;
	}

	&__label {
		position: absolute;
		top: -2px;
		left: 3.44rem;
		border-radius: 0rem 0rem 1.14656rem 1.14656rem;
		border-top: 2px solid #434343;
		background: rgba(21, 21, 21, 0.3);
		backdrop-filter: blur(18.34482765197754px);
		padding: 5.1595rem 1.71981rem 1.14656rem 1.71981rem;
		color: #fff;
		font-family: Gilroy;
		font-size: 1.8345rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 1.8345rem */
		letter-spacing: -0.03669rem;
		transition: all 0.5s ease-in-out;
	}

	&__meta {
		position: absolute;
		top: -20rem;
		right: 3.44rem;
		display: flex;
		flex-direction: column;
		gap: 0.57rem;
		transition: all 0.5s ease-in-out;
		span {
			color: #fff;
			font-family: $font-family;
			font-size: 1.14656rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			padding: 0.80256rem 1.4905rem 0.68794rem 1.4905rem;
			border-radius: 7.5945rem;
			background: rgba(255, 255, 255, 0.1);
		}
	}
}
