@import "../../root/scss/_sass";

.form {
	form {
		display: flex;
		flex-direction: column;
		gap: 0.23rem;
		input {
			@include adaptiveValue("padding-top", 28, 14);
			@include adaptiveValue("padding-bottom", 28, 14);
			padding: 1.75994rem 2.27094rem;
			border-radius: 1.13544rem;
			background: rgba(21, 21, 21, 0.05);

			color: rgba(21, 21, 21, 1);
			font-feature-settings: "salt" on;
			font-family: $font-family;
			@include adaptiveValue("font-size", 22, 18);
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 1.63506rem */
			letter-spacing: -0.02725rem;

			&::placeholder {
				color: rgba(21, 21, 21, 0.5);
				font-feature-settings: "salt" on;
				font-family: $font-family;
				@include adaptiveValue("font-size", 22, 18);
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 1.63506rem */
				letter-spacing: -0.02725rem;
			}

			&.invalid {
				box-shadow: 0px 0px 5px 2px rgba($color: #ff0000, $alpha: 0.2);
			}
		}
		button {
			border-radius: 1.13544rem;
			background: #151515;
			@include adaptiv-value("padding-top", toPX(1.76), toPX(1), 1);
			@include adaptiv-value("padding-bottom", toPX(1.76), toPX(1), 1);
			color: #fff;
			font-feature-settings: "salt" on;
			font-family: $font-family;
			@include adaptiveValue("font-size", 18, 16);
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			text-align: center;
			cursor: pointer;

			&.send__button-disabled {
				pointer-events: none;
				cursor: auto;
			}
		}
	}

	&__send {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 20rem;
		color: #151515;
		font-feature-settings: "salt" on;
		font-family: $font-family;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 120%; /* 3.88325rem */
		letter-spacing: 0;
		text-align: center;
	}
}

.phone-input-container {
	position: relative;

	.flag-dropdown {
		position: absolute;
		background-color: transparent;
		border: none;
		left: 0.5rem;
	}

	.react-tel-input {
		position: static;
		& > input {
			display: none;
		}

		input {
			padding-left: 0 !important;
			border: none !important;
			outline: none !important;
			max-width: 90% !important;
			font-family: $font-family !important;
			font-size: 16px !important;
			background-color: transparent;

			&::placeholder {
				font-size: 16px !important;
			}
		}
	}

	.react-tel-input .selected-flag:hover,
	.react-tel-input .selected-flag:focus {
		background-color: transparent !important;
	}
	.flag-dropdown.open {
		background-color: transparent !important;
	}

	input {
		padding-left: 3.5rem !important;
		width: 100%;
	}
}
