@import "../../root/scss/_sass";

.reviews {
	background: #f3f3f3;
	padding-top: 2.87rem;
	@include adaptiveValue("padding-bottom", 100, 50);
	&__wrapper {
		display: flex;
		align-items: flex-start;
		& > div {
			width: 100%;
		}
	}

	&__title {
		color: #151515;
		font-family: $font-family;
		@include adaptiveValue("font-size", 96, 42);
		font-size: 6rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 6rem */
		letter-spacing: -0.18rem;
		text-wrap: balance;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 0.61rem;
	}
}

@media (max-width: $tablet) {
	.reviews {
		&__wrapper {
			flex-direction: column;
		}

		&__title {
			margin-bottom: 30px;
		}
	}
}
