@import '../../../root/scss/_sass';

.banner--about {
    // min-height: 70vh;
}

.banner {
    padding-top: 30px;

    &__circle {
        @include adaptiv-value('width', 242, 90, 1);
        @include adaptiv-value('height', 242, 90, 1);
        position: absolute;
        @include adaptiveValue('top', 0, 20);
        z-index: 3;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__subtitle {
        color: $white_color;
        font-family: $font-family;
        @include adaptiv-value('font-size', toPX(1.5), toPX(0.875), 1);

        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        max-width: 20.375rem;

        .germany & {
            @include adaptiveValue('font-size', 20, 12);
        }

        &-top {
            display: block;
            margin-left: auto;
            margin-right: 0;
            margin-bottom: 59px;
            .banner--conditions & {
                margin-bottom: 80px;
            }
            .banner--conditions &,
            .banner--about & {
                max-width: 694px;
            }

            @media (max-width: $mobile) {
                text-align: right;
                margin-top: -50px;
                margin-bottom: 80px;

                .germany & {
                    max-width: 250px;
                }
            }
        }

        &-bottom {
            min-width: 22.56rem;
            position: relative;
            transform: translateY(-8rem);
            .banner--conditions &,
            .banner--about & {
                transform: none;
                margin-top: 64px;
                padding-bottom: 100px;

                @media (max-width: $tablet) {
                    padding-bottom: 50px;
                }
                @media (max-width: 680px) {
                    padding-bottom: 20px;
                    margin-top: 10px;
                }
            }

            .germany & {
                @include adaptiveValue('min-width', 444, 300);
                @include adaptiveValue('max-width', 444, 300);
            }

            @media (max-width: $tablet) {
                transform: translateY(-4rem);
            }

            @media (max-width: 680px) {
                transform: translateY(0rem);
                min-width: auto;
                max-width: none;
                padding-top: 20px;
                padding-bottom: 30px;

                br {
                    display: none;
                }
                // @include adaptiveValue("max-width", 350, 150);
            }
        }
    }

    &__title {
        color: $white_color;
        font-family: $font-family;
        @include adaptiv-value('font-size', toPX(10), toPX(2.2), 1);
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 12.25rem */
        letter-spacing: -0.245rem;
        text-transform: uppercase;
        text-wrap: nowrap;

        @media (max-width: $tablet) {
            letter-spacing: -0.105rem;
        }

        .banner--about & {
            @include adaptiveValue('font-size', 180, 0);

            @media (max-width: $tablet) {
                font-size: 60px !important;
            }
            @media (max-width: 680px) {
                font-size: 50px !important;
            }
        }

        .banner--conditions & {
            @include adaptiveValue('font-size', 180, 0);
            @media (max-width: $tablet) {
                font-size: 50px !important;
            }
            @media (max-width: 680px) {
                font-size: 40px !important;
            }
        }
    }

    &__right {
        text-align: right;

        .banner--about & {
            text-align: left;
            .single-line {
                @include adaptiveValue('padding-left', 100, 0);
            }
        }

        .banner--conditions & {
            text-align: left;
        }
    }

    &__left {
        text-align: left;

        .banner--about & {
            text-align: left;
            .single-line {
                @include adaptiveValue('padding-left', 180, 0);
            }
        }
    }

    &__silver {
        color: rgb(68, 68, 68);
        .banner--conditions &,
        .banner--about & {
            color: #fff;
        }
    }
}
