@import "../../root/scss/_sass";

.mail {
	background: #151515;
	@include adaptiveValue("padding-top", 90, 30);
	@include adaptiveValue("padding-bottom", 90, 50);
	&__wrapper {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 100, 20);
		gap: 6.25rem;
	}

	&__title {
		color: #fff;
		font-family: $font-family;
		@include adaptiveValue("font-size", 96, 28);
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.12rem;

		span {
			padding-left: 9rem;
		}

		@media (max-width: $mobile) {
			br {
				display: none;
			}
		}
	}

	&__form {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 80, 0);

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}

		& > img {
			@include adaptiveValue("width", 56, 24);
			@include adaptiveValue("height", 56, 24);

			@media (max-width: $mobile) {
				transform: rotate(90deg);
			}
		}
	}

	&__input-wrapper {
		display: flex;
		align-items: center;
		@include adaptiveValue("border-radius", 30, 10);
		border-radius: 1.875rem;
		background: rgba(255, 255, 255, 0.1);
		@include adaptiveValue("padding-left", 50, 20);
		@include adaptiveValue("padding-right", 10, 10);
		@include adaptiveValue("padding-bottom", 10, 10);
		@include adaptiveValue("padding-top", 10, 10);
		width: 100%;
		box-shadow: none;

		&.invalid {
			box-shadow: 0px 0px 5px 2px rgba($color: #ff0000, $alpha: 0.2);
		}
		&.valid {
			box-shadow: 0px 0px 5px 2px rgba($color: #09ff00, $alpha: 0.2);
		}

		form {
			display: flex;
			align-items: center;
			width: 100%;
		}
		input {
			width: 100%;
			color: #fff;
			font-family: $font-family;
			@include adaptiveValue("font-size", 40, 16);
			font-style: normal;
			font-weight: 500;
			line-height: 110%;
			@include adaptiveValue("padding-right", 80, 10);

			&::placeholder {
				color: rgba(255, 255, 255, 0.4);
			}
		}
		p {
			color: #fff;
			font-family: $font-family;
			@include adaptiveValue("font-size", 40, 16);
			font-style: normal;
			font-weight: 500;
			line-height: 110%;
		}
		button {
			display: flex;
			align-items: center;
			gap: 0;
			@include adaptiveValue("border-radius", 30, 10);
			background: #fff;
			@include adaptiveValue("padding-top", 40, 5);
			@include adaptiveValue("padding-bottom", 40, 5);
			@include adaptiveValue("padding-left", 80, 10);
			@include adaptiveValue("padding-right", 80, 5);
			color: #151515;
			font-family: $font-family;
			@include adaptiveValue("font-size", 40, 16);
			font-style: normal;
			font-weight: 500;
			line-height: 110%;
			transition: all 0.5s ease-in-out;
			cursor: pointer;

			&.mail__button-disabled,
			&:disabled {
				opacity: 0.8;
				pointer-events: none;
			}

			span {
				display: flex;
				@include adaptiveValue("width", 40, 25);
				@include adaptiveValue("height", 40, 25);
				align-items: center;
				justify-content: center;
				border-radius: 6.25rem;
				padding: 0.5rem;
				transition: all 0.5s ease-in-out;

				svg {
					width: 0.75rem;
					height: 0.75rem;
					transform: rotate(-180deg);
					transition: all 0.5s ease-in-out;
					path {
						stroke: #151515;
						transition: all 0.5s ease-in-out;
					}
				}
			}

			&:hover {
				gap: 2.5rem;
				span {
					background: #151515;

					svg {
						transform: rotate(0deg);
						path {
							stroke: #fff;
						}
					}
				}

				@media (max-width: $mobile) {
					gap: 1rem;
				}
			}
		}
	}
}

@media (max-width: $tablet) {
	.mail {
		&__title {
			span {
				padding-left: 0;
			}
		}
	}
}
