@import '../../../root/scss/_sass';

.conditions-excluded {
    padding: 91px 0 99px;
    background-color: #151515;
    font-family: $font-family;

    &__container {
        max-width: 1640px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__head {
        text-align: center;
    }

    &__title {
        margin: 0;
        font-family: $font-family;
        font-weight: 600;
        @include adaptiveValue('font-size', 96, 56);
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #fff;
        // white-space: nowrap;
    }

    &__subtitle {
        max-width: 1510px;
        margin: 18px auto 0;
        font-family: $font-family;
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
    }

    &__intro {
        margin: 20px 0 0;
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
    }

    &__groups {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 22px 40px;
        max-width: 990px;
        margin: 38px auto 0;
    }

    &__group {
        padding: 27px 33px;
        border: 2px solid #363636;
        border-radius: 20px;
        box-sizing: border-box;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin: 0;
        color: #ffffff;
        font-family: $font-family;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: -0.03em;
        color: rgba(255, 255, 255, 0.95);
    }

    &__note {
        max-width: 1000px;
        margin: 39px auto 0;
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
    }
}

@media (max-width: 1399.98px) {
    .conditions-excluded {
        padding: 80px 0;

        &__title {
            font-size: 70px;
            letter-spacing: -3.5px;
            white-space: normal;
        }

        &__subtitle {
            max-width: 1160px;
            font-size: 30px;
        }

        &__groups {
            margin-top: 34px;
        }
    }
}

@media (max-width: 991.98px) {
    .conditions-excluded {
        padding: 70px 0;

        &__title {
            font-size: 56px;
            letter-spacing: -3px;
        }

        &__subtitle {
            font-size: 26px;
            line-height: 1.2;
        }

        &__intro {
            font-size: 21px;
        }

        &__groups {
            grid-template-columns: 1fr;
            gap: 16px;
            max-width: 600px;
        }

        &__group {
            padding: 28px 30px;
        }

        &__item {
            font-size: 20px;
        }
    }
}

@media (max-width: 575.98px) {
    .conditions-excluded {
        padding: 60px 0;

        &__container {
            padding: 0 15px;
        }

        &__title {
            font-size: 42px;
            line-height: 1.06;
            letter-spacing: -2px;
        }

        &__subtitle {
            margin-top: 20px;
            font-size: 21px;
            line-height: 1.3;
            letter-spacing: -0.5px;
        }

        &__intro {
            margin-top: 18px;
            font-size: 18px;
        }

        &__groups {
            margin-top: 30px;
        }

        &__group {
            padding: 24px 20px;
            border-radius: 14px;
        }

        &__list {
            gap: 18px;
        }

        &__item {
            font-size: 16px;
            line-height: 1.4;
        }

        &__note {
            margin-top: 30px;
            font-size: 15px;
            line-height: 1.4;
        }
    }
}
