@import "../../root/scss/_sass";

.header {
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 53px;
		margin-bottom: 75px;
	}

	&__menu-button {
		color: $white_color;
		font-family: $font-family;
		@include adaptiveValue("font-size", 20, 16);
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.025rem;
		@include adaptiveValue("padding-top", 16, 10);
		@include adaptiveValue("padding-bottom", 16, 10);
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);

		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 20, 10);
		padding: 16px 30px;
		border: 0.06rem solid rgb(255, 255, 255);
		border-radius: 6.25rem;
		cursor: pointer;

		svg {
			@include adaptiveValue("width", 36, 18);
			@include adaptiveValue("height", 18, 9);
			path {
				transition: all 0.5s ease-in-out;
			}
		}

		&:hover {
			svg {
				path {
					&:first-child {
						transform: translateX(-10px);
					}
					&:nth-child(2) {
						transform: translateX(10px);
					}
					&:last-child {
						transform: translateX(-10px);
					}
				}
			}
		}
	}

	&__menu-wrapper {
		display: flex;
		@include adaptiveValue("gap", 20, 10);
	}

	&__lang {
		display: flex;
		@include adaptiveValue("gap", 29, 15);
		gap: 1.81rem;
		align-items: center;
		span {
			color: $white_color;
			cursor: pointer;
		}
	}

	&__button {
		color: $white_color;
		font-family: $font-family;
		@include adaptiveValue("font-size", 20, 16);
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.025rem;
		border-radius: 6.25rem;
		border: 1px solid #fff;
		@include adaptiveValue("padding-top", 16, 10);
		@include adaptiveValue("padding-bottom", 16, 10);
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
		cursor: pointer;
	}
}
